@import 'tailwindcss';

:root {
}

body {
  margin: 0;
  min-height: 100vh;
  background:
    linear-gradient(120deg, #f4f0fe 0%, transparent 50%),
    linear-gradient(240deg, #edf2fe 0%, transparent 50%),
    linear-gradient(360deg, #fee9f5 0%, transparent 50%), #f8f5fc;
  background-size: 200% 200%;
  animation: gradientMove 20s ease-in-out infinite;
}

@keyframes gradientMove {
  0%,
  100% {
    background-position: 0% 0%;
  }
  25% {
    background-position: 100% 0%;
  }
  50% {
    background-position: 100% 100%;
  }
  75% {
    background-position: 0% 100%;
  }
}
